<mat-card class="example-card  mat-elevation-z6">
    <mat-card-content>
      <form class="example-form">
        <table>
          <tr>
            <mat-card-subtitle>penguin ears</mat-card-subtitle>
            <td>
      <mat-form-field class="example-full-width">
        <mat-label>units</mat-label>
        <input matInput placeholder="units" name="penguinEarUnits" type="number" min="0" max=20 [(ngModel)]="penguinEarUnits" >
      </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>cartons</mat-label>
                <input matInput placeholder="cartons" name="penguinEarCartons" type="number" min="0" [(ngModel)]="penguinEarCartons" >
              </mat-form-field>
            </td>
          </tr>
        <tr>
          <mat-card-subtitle>horse shoes</mat-card-subtitle>
          <td>
      <mat-form-field class="example-full-width">
          <mat-label>units</mat-label>
          <input matInput placeholder="units" name="horseShoeUnits" type="number" min="0"  [(ngModel)]="horseShoeUnits">
        </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>cartons</mat-label>
              <input matInput placeholder="cartons" name="horseShoeCartons" type="number" min="0"  [(ngModel)]="horseShoeCartons">
            </mat-form-field>
          </td>
      </tr> 
      <button mat-raised-button color="primary" (click)="calculatePrice()">Calculate Price</button>

      </table>
      </form>
  </mat-card-content>
</mat-card>

